@charset "UTF-8";

*{
	background-color:pink;
}

h1, h2{
	color:white;
}


/*idによる指定*/
#signup{
	background-color: black;
}

/*隣接セレクタ－*/
h1 + p{
		color:white;
}

/*直下セレクター*/

div > li{
		color:white;
}

/*属性セレクター*/
input[type = "text"]{
	width: 300px;
	color:white;
}

.post:nth-of-type(3){
		color:white;
}

/*ボーダープロパティ*/
h1{
	border-width:5px;
	border-color:black;
	border-left-width:8px;
	border-style:solid;
}

